.Wrapper {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--color-bg__main);
}

.Container {
    width: 100%;
    max-width: var(--size-breakpoint-xl);
    min-height: 0;
    position: relative;
    display: block;
    padding: var(--size-space-14x) var(--size-space-18x);
    margin: 0 auto;

    &Fluid { min-height: 100% }
}

.Grid {
    width: 100%;
    min-height: 0;
    display: grid;
    grid-gap: var(--size-space-gap);
    grid-template-columns: 1fr;
    grid-template-areas: 'Side' 'Main';
    grid-template-rows: auto auto;
    position: relative;

    @media (min-width: 1024px) {
        grid-template-columns: var(--size-space-160x) 1fr;
        grid-template-areas: 'Side Main';
        grid-template-rows: auto;
    }

    &Side {
        grid-area: Side;
        position: relative;
    }

    &Main {
        grid-area: Main;
        position: relative;
    }
}

.Sidebar {
    width: 100%;
    min-height: 0;
    display: block;
    position: relative;

    &Menu {
        min-height: 0;
        display: block;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        background-color: rgba(var(--color-black__rgb), .25)
    }

    &ListGroup {
        display: block;
        list-style: none;

        &Item {
            display: block;
            border-bottom: 1px solid rgba(var(--color-white__rgb), .025);

            &.Active {
                a {
                    &::before { background-color: var(--color-bg__button) !important }
                }
            }

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;
                position: relative;
                padding: var(--size-space-14x) var(--size-space-12x);
                color: var(--color-white);
                
                font: {
                    size: var(--size-space-8x);
                    weight: 600;
                    family: var(--font-sans)
                }

                &:hover {
                    background-color: rgba(var(--color-white__rgb), .01);

                    &::before {
                        background-color: rgba(var(--color-white__rgb), .05);
                    }
                
                }

                &::before {
                    content: '';
                    width: 6px;
                    height: 60%;
                    border-radius: 0 4px 4px 0;
                    position: absolute;
                    top: 50%; left: 0;
                    transform: translateY(-50%);
                    background-color: transparent;
                }
            }
        }
    }
}

.Main {
    @extend .Sidebar;

    &Content {
        min-height: 0;
        display: block;
        border-radius: 4px;
        padding: var(--size-space-12x);
        position: relative;
        overflow: hidden;
        background-color: rgba(var(--color-black__rgb), .25)
    }

    &Form {
        width: 100%;
        max-width: calc(var(--size-space-192x) * 1.75);
        min-height: 0;
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        border: 2px solid transparent;
        border-radius: 4px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;

        &.Error {
            border-color: var(--color-red-default);
            .ButtonSubmit {
                background-color: var(--color-red-default);

                &:hover { background-color: var(--color-red-default) }
            }
        }

        .Inputbox {
            flex: 1;
            height: var(--size-space-20x);
            border: 0;
            padding: 0 var(--size-space-7x);
            background-color: rgba(var(--color-black__rgb), .25);
            color: var(--color-white);
            font: {
                size: var(--size-space-7x);
                weight: 600;
                family: var(--font-sans);
            }
        }

        .ButtonSubmit {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--size-space-2x);
            border: 0;
            padding: 0 var(--size-space-7x);
            background-color: var(--color-green-default);
            transition: background 200ms;
            color: white;

            &:hover {
                background-color: var(--color-green-dark);
            }
        }
    }
}